extends layout

block content

    .w3-card
        header.w3-container.w3-blue-grey
            h1(align='center') Registo da Espécie: #{plantas[0].Especie}
            h3(align='center') Nome científico: #{plantas[0].NomeCientifico}
            h4(align='left') Número de registos da espécie: #{plantas.length}
        br
        .w3-container
            table.w3-table-all
                tr.w3-bue-grey
                    th ID
                    th Freguesia
                    th Espécie
                    th Estado
                    th Nr Intervenções
                each p in plantas
                    tr  
                        td: a(href='/' + p._id)= p._id
                        td= p.Freguesia
                        td: a(href='/especie/' + p.Especie)= p.Especie
                        td= p.Estado
                        td= p.NumeroDeIntervencoes
            brbr
            a(href='/') [Voltar ao Menu Inicial]
        brbr
        footer.w3-container.w3-blue-grey
            h4(align='center') Interface Realizada no Âmbito do Exame de EngWeb
            p(align='center') Duarte Parente, A95844  ::  30/05/2023